<ul id="profileDropDown" class="dropdown-content">
@*            <li><a href="#!">My Account</a></li>*@
    <li><a asp-controller="Home" asp-action="SignOut" >Sign Out</a></li>
</ul>
<nav>
    <div class="nav-wrapper teal">
        <a asp-controller="Location" asp-action="LocationSelection" class="brand-logo center">
            Project Jetson <i class="material-icons right medium no-right-margin">videocam</i>
        </a>
        <ul class="left hide-on-med-and-down">
            <li>
                <a asp-controller="Location" asp-action="LocationSelection" class="nav-link">Home</a>
            </li>
            <li>
                <a asp-controller="Camera" asp-action="BeginCameraRegistration" class="nav-link">Register a Camera</a>
            </li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li>
                <!-- Dropdown Trigger -->
                <a class='dropdown-button' href='#' data-activates='notification-list'>Notifications <span class="new badge pink">4</span></a>
            </li>
            <li>
                <!-- Dropdown Structure -->
                <ul id='notification-list' class='dropdown-content'>
                    <li><a href="#!"><i class="material-icons">notifications_active</i>'test' alert triggered at 5:00 PM</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Notification Center</a></li>
                </ul>
            </li>
            <li>
                <a asp-controller="Alert" asp-action="Index" class="nav-link">My Alerts</a>
            </li>
            <li><a class="dropdown-button" href="#" data-activates="profileDropDown">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>