@model BackEndServer.Models.ViewModels.PasswordResetLink
@{
    ViewBag.Title = "Project Jetson - Password Reset";
}

<h1 class="page-title center-align">Reset Your Password</h1>

<div class="row">
    <form id="password_reset_form" class="col s12" method="post" asp-controller="User" asp-action="GeneratePasswordResetLink" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s6">
                <input id="email" name="Email" type="email" class="validate">
                <label for="email">Enter Email Address</label>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="s12">
                <button id="reset_submit" class="btn waves-effect waves-light right-align" type="submit" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

    </form>
</div>

<script>
    function handlePasswordChangeSubmission(response) {
        $("#reset_submit").attr("disabled", false);
        if (response.success) {
            Materialize.toast("Check your email inbox for your password reset link", 4000);
        } else {
            if (response.errorMessage) {
                Materialize.toast(response.errorMessage);
            } else {
                Materialize.toast("Password reset request failed because of an unexpected server error", 4000);
            }
        }
    }

    $("#password_reset_form").submit(function (e) {
        $("#reset_submit").attr("disabled", true);
        
        var form = $(this);
        var url = form.attr('action');


        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                handlePasswordChangeSubmission(data);
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
</script>