@model BackEndServer.Models.ViewModels.PasswordReset
@{
    ViewBag.Title = "Project Jetson - Password Change";
}

<h1 class="page-title center-align">Reset your password</h1>

<div class="row">
    <form id="password_change_form" class="col s12" method="post" asp-controller="User" asp-action="InitializePasswordReset" enctype="multipart/form-data">
        <input type="hidden" name="token" value="@Model.Token">
        <div class="row">
            <div class="input-field col s6">
                <input id="password" name="Password" type="password" class="validate" required>
                <label for="password">New Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="retype_password" name="RetypePassword" type="password" class="validate" required>
                <label for="retype_password">Re-type New Password</label>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="s12">
                <button class="btn waves-effect waves-light right-align" type="submit" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

    </form>
</div>

<script>
    function redirect() {
        window.location.replace("/");
    }
    function handlePasswordChangeSubmission(response) {
        if (response === true) {
            Materialize.toast("Password successfully modified!", 3000);
            Materialize.toast("You will be redirected back to the home page shortly", 3000);
            setTimeout(redirect, 3000);
            
        } else {
            Materialize.toast("Password could not be changed", 4000);
        }

    }

    $("#password_change_form").submit(function (e) {

        var form = $(this);
        var url = form.attr('action');

        if ($('#retype_password').val() != $('#password').val()) {
            Materialize.toast("The two passwords do not match", 4000);
        }
        else {
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    handlePasswordChangeSubmission(data);
                }
            });

        }
        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
</script>