@using Castle.Core.Internal
@model BackEndServer.Models.ViewModels.PasswordResetLink

<!DOCTYPE html>

<html>
<head>
    <title>Project Jetson - Alert Triggered Email Notice</title>
</head>
<body>
    <div>
        <p>Hi @Model.Name,</p>
        <p>You have requested your password to be reset.</p>
        <br />
        <p>Use to following link to continue resetting your password. <a href="@Model.URL">@Model.URL</a></p>

        <p>Thanks,<br>Team Jetson</p>
    </div>
</body>
</html>