@model BackEndServer.Models.ViewModels.UserPassword
@{
    ViewBag.Title = "Project Jetson - Password Change";
}

<h1 class="page-title center-align">Change your password</h1>

<div class="row">
    <form id="password_change_form" class="col s12" method="post" asp-controller="User" asp-action="ChangePassword" enctype="multipart/form-data">
        <input type="hidden" name="UserId" value="@Model.UserId">
        <div class="row">
            <div class="input-field col s6">
                <input id="old_password" name="OldPassword" type="password" class="validate">
                <label for="old_password">Old Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="new_password" name="NewPassword" type="password" class="validate">
                <label for="new_password">New Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="retype_password" name="RetypePassword" type="password" class="validate">
                <label for="retype_password">Re-type New Password</label>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="s12">
                <button class="btn waves-effect waves-light right-align" type="submit" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

    </form>
</div>

<script>
    function handlePasswordChangeSubmission(response) {
        if (response === true) {
            Materialize.toast("Password successfully modified!", 4000);
        } else {
            Materialize.toast("Does not match current password", 4000);
        }
    }

    $("#password_change_form").submit(function (e) {

        var form = $(this);
        var url = form.attr('action');

        if ($('#retype_password').val() != $('#new_password').val()) {
            Materialize.toast("The two passwords do not match", 4000);
        }
        else if ($('#retype_password').val() == '' || $('#new_password').val() == '' || $('#old_password').val() == '') {
            Materialize.toast("Please fill in all fields", 4000);
        }
        else {
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    handlePasswordChangeSubmission(data);
                }
            });

        }
        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
</script>