
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/location.css" />
    <link rel="stylesheet" href="~/css/signInStyle.css" />
    <title> Choose location </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="location.css">
</head>

<body>
    <div class="topnav">
        <a href="#about" style="float:right">Welcome user</a>
    </div>
    <div class="center">
        <h4>Choose location of camera you wish to see</h4>
        <select class="limitedNumbChosen" multiple="true">
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
            <option value="7">Sunday</option>
        </select>
        <h4>Choose which area you would like to see</h4>
        <select class="limitedNumbSelect2" multiple="true">
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
            <option value="6">Sunday</option>
        </select>
        <button type="submit">Select</button>
    </div>

</body>


</html>