@model BackEndServer.Models.ViewModels.GraphStatistics

<h1 class="page-title center-align">Statistics and Trends</h1>

<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        // Define the chart to be drawn.
        var array = @Html.Raw(Json.Serialize(Model.Stats));
        for (i = 1; i < array.length; i++) {
            array[i][1] = parseInt(array[i][1]);

        }

        var data = new google.visualization.arrayToDataTable(array);

//        var data2 = new google.visualization.arrayToDataTable([
//            ["Time", 'Avg', 'Min', 'Max'],
//            ["0:00", 90, 20, 110],
//            ["1:00", 90, 20, 110],
//            ["2:00", 100,50,130],
//            ["3:00", 150,145,156],
//            ["4:00", 132,122,145],
//            ["5:00", 176,165,245],
//            ["6:00", 154,122,159],
//            ["7:00", 123,100,133],
//            ["8:00", 90, 20, 110],
//            ["9:00", 100, 50, 130],
//            ["10:00", 150, 145, 156],
//            ["11:00", 132, 122, 145],
//            ["12:00", 176, 165, 245],
//            ["13:00", 154, 122, 159],
//            ["14:00", 123, 100, 133],
//            ["15:00", 90, 20, 110],
//            ["16:00", 90, 20, 110]
//        ]);
//
//        var data3 = new google.visualization.arrayToDataTable([
//            ['Time', 'Avg', 'Min', 'Max'],
//            ['2:00', 1,0,3],
//            ['3:00', 2,1,2],
//            ['4:00', 3,2,5],
//            ['5:00', 3,0,2],
//            ['6:00', 3,0,2],
//            ['7:00', 0,0,0],
//            ['8:00', 0,0,0]
//        ]);

        var options = {
            legend: { position: 'bottom' }

        }

        // Instantiate and draw the chart.
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);

//        chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));
//        chart.draw(data2, options);
//
//        chart = new google.visualization.LineChart(document.getElementById('curve_chart3'));
//        chart.draw(data3, options);
    }
</script>


<div class="row">
    <div class="col s7">
        <ul class="tabs">
            <li class="tab"><a class="teal-text" href="#test1">1 Day</a></li>
            <li class="tab"><a class="teal-text" href="#test2">1 Week</a></li>
            <li class="tab"><a class="teal-text" href="#test3">1 Month</a></li>
            <li class="tab"><a class="teal-text" href="#test4">6 Months</a></li>
            <li class="tab "><a class="teal-text" href="#test5">1 Year</a></li>
            <div class="indicator teal" style="z-index:1"></div>
        </ul>
    </div>
    <div class="input-field col s2">
        <select>
            <option value="" disabled >Choose Year</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option selected value="2018">2018</option>
        </select>
        <label>Select Year</label>
    </div>
    <div class="input-field col s3">
        <select>
            <option value="" disabled>Measured Values</option>
            <option value="1">Avg number of People</option>
            <option selected="" value="2">Max Number of People</option>
            <option value="3">Min Number of People</option>
        </select>
        <label>Select Value to Measure</label>
    </div>
    <div id="test1" class="col s12">1 Day</div>
    <div id="test2" class="col s12">1 Week</div>
    <div id="test3" class="col s12">1 Month</div>
    <div id="test4" class="col s12">6 Months</div>
    <div id="test5" class="col s12">1 Year</div>
</div>


<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">@Model.CameraInformation.CameraName</h4>
                <p>@Model.CameraInformation.CameraRoomName</p>
                <div id="curve_chart"></div>
            </div>
        </div>
    </div>
</div>
