@model BackEndServer.Models.ViewModels.AuthenticationInformation

<div>
    <h1 class="welcome-message center-align"> Welcome to the Real Time Object Monitoring System</h1>
</div>
<div class="center-align">
    <img src="~/images/camera_sign_in.png"/>
</div>
<div class="row">
    <form class="col s12" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input value="@Model.Username" type="text" placeholder="Enter Username" name="username" required="required" class="validate" />      
                <label for="username"><b>Username</b></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" placeholder="Enter Password" name="password" required="required" class="validate" />
                <label for="password"><b>Password</b></label>
            </div>
        </div>
        <div class="row">
            @{ if(@Model.Username != null){<p class="error-message">Invalid username/password</p>} }
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>