.welcome-message {
    font-size: 2em;
}
.page-title {
    font-size: 1.7em;
}
.body-content {
    margin-top: 20px;
    margin-bottom: 20px;
}
.brand-logo i {
    font-size: 40px !important;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column
}
main {
    flex: 1 0 auto
}
.page-footer {
    padding-top: 0;
}
.error-message {
    color: red;
}
.camera-card-title {
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0.9;
    padding: 10px !important;
    font-size: 18px !important;
    border-radius: 0 0 10px 10px;
    text-align: center;
}
.camera-card-image {
    height: 210px;
    border-radius: 10px !important;
}
.camera-card {
    margin: 0.5rem 0 0.5rem 0;
}
.camera-card, .camera-card > .card-image {
    border-radius: 10px;
}
.card-image.clickable:hover {
    background: black;
    opacity: 0.8;
}
.page-title {
    margin-bottom: 40px;
}
.last-updated-time {
    /*margin-bottom: 15px;*/
}
.people-count {
    font-size: 1.7em;
    /*font-weight: bold;*/
}

.main-statistics {
    /*margin-top: 50px;*/
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.last-updated-time {
    margin-bottom: 5px;
}
.people-count {
    margin-bottom: 10px;
}
.valign-wrapper-subcontainer{
    width: 100%;
}
.average-section-title {
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 15px;
}
.average-stat {
    font-size: 1.1em;
    margin-bottom: 5px;
}
#camera-stats-link {
    margin-top: 10px;
}
.unavailable-message {
    color: gray;
}
.no-right-margin {
    margin-right: 0 !important;
}