.welcome-message {
    font-size: 2em;
}
.error-title {
    font-size: 2em;
}
.error-description {
    font-size: 1.1em;
}
.body-content {
    margin-top: 20px;
    margin-bottom: 20px;
}
.brand-logo i {
    font-size: 40px !important;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column
}
main {
    flex: 1 0 auto
}
.page-footer {
    padding-top: 0;
}
.error-message {
    color: red !important;
}
.disabled-message {
    color: red !important;
}
.camera-card-title {
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0.9;
    padding: 10px !important;
    font-size: 18px !important;
    border-radius: 0 0 10px 10px;
    text-align: center;
}
.camera-card-image {
    height: 210px;
    border-radius: 10px !important;
}
.camera-card-image-sm {
    height: 148px;
    border-radius: 10px !important;
}
.camera-card {
    margin: 0.5rem 0 0.5rem 0;
}
.camera-card, .camera-card > .card-image {
    border-radius: 10px;
}
.card-image.clickable:hover {
    background: black;
    opacity: 0.8;
}
.page-title {
    margin-bottom: 40px;
    font-size: 1.7em;
}
.confirmation-title {
    margin-bottom: 30px;
    font-size: 1.5em;
}
.last-updated-time {
    /*margin-bottom: 15px;*/
}
.people-count {
    font-size: 1.2em;
    /*font-weight: bold;*/
}

.main-statistics {
    /*margin-top: 50px;*/
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.last-updated-time {
    margin-bottom: 5px;
}
.people-count {
    margin-bottom: 10px;
}
.valign-wrapper-subcontainer{
    width: 100%;
}
.average-section-title {
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 15px;
}
.average-stat {
    font-size: 1.1em;
    margin-bottom: 5px;
}
#camera-stats-link {
    margin-top: 10px;
}
.unavailable-message {
    color: gray;
}
.no-right-margin {
    margin-right: 0 !important;
}
.borderless-card{
    margin: 0;
}
.smaller-padding-card-content{
    padding: 12px !important;
}
.graph-title {
    font-size: 16px;
    margin-top: 5px !important;
}
.input-field label.checkbox-label, 
.input-field label.radio-label {
    pointer-events: auto !important;
}
/*.select-row {*/
    /*margin-bottom: 0;*/
/*}*/
.collapsible-collection .collection-item {
    display: block;
}
.collapsible-collection .collection-item:hover {
    background: rgba(143, 246, 0, 0.24);
}

.collapsible-collection-container {
    margin: 0 !important;
}
.collection-item.avatar.short {
    min-height: 0;
    padding-right: 52px;
}

.lightweight-title {
    font-size: 1.1em;
    color: #9e9e9e;
}
.fake-label {
    top: -26px !important;
    font-size: 0.8rem !important;
}
.small-input {
    width: 100px !important;
}
#trigger-details-container {
    line-height: 0 !important;
    margin-bottom: 10px;
}
.no-top-margin {
    margin-top: 0 !important;
}
.no-bottom-margin {
    margin-bottom: 0 !important;
}
#alert-creation-modal {
    top: 5% !important;
    max-height: 90% !important;
    height: 90% !important;
}

#camera-edit-modal {
    top: 5% !important;
    max-height: 90% !important;
    height: 90% !important;
}

#notification-list li > a > i {
    margin-right: 12px;
}

.property-name {
    font-style: italic;
}

#disable_alert_button {
    width: 100%;
}

.small-modal {
    width: 35%;
}

.disabled-forever-row {
    margin-bottom: 35px;
}
.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

.graph-card {
    height: 80% !important;
    margin-bottom: 12px;
    color: black;
}

#graph_card > .card-content {
    height: 380px !important;
}

.unavailable-message-light {
    color: lightblue;
}
.no-email-message {
    margin-bottom: 10px !important;
}

.form-checkbox {
    min-height: 50px !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
}
/*Required for select validation*/
select:required {
    display: inline;
    position: absolute;
    float: left;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255,255,255,0);
    height: 0;
    width: 0;
    top: 2em;
    left: 3em;
    opacity: 0;
}

label[data-error], label[data-success] {
    width: 100% !important;
}
#select-range-message {
    margin-top: 20px;
    color: darkslateblue;
    font-size: 1.3em;
}
#cameras_in_room_container {
    height: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: scroll !important;
}
#cameras_in_room_container a {
    color: #b3e59f;
}
#camera_card, #graph_card {
    height: 510px;
    overflow: scroll;
}
#stat_frames_card, #shared_room_card{
    height: 370px;
}
#frame_carousel{
    top: -85px;
}
#password_reset_link {
    margin-left: 20px;
}
.collection  .collection-item:hover {
    background: rgba(143, 246, 0, 0.24) !important;
}
#logo {
    padding-left: 20px;
    padding-right: 20px;
}
.side-nav li>a {
    overflow: scroll;
    white-space: nowrap;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}
#timeline_chart {
    width: 95% !important;
    height: 100% !important;
    margin-top: 15px !important;
    margin-bottom: 10px !important;
}

#timeline_chart .border {
    overflow: hidden;
}
.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
}