.welcome-message {
    font-size: 2em;
}
.error-title {
    font-size: 2em;
}
.error-description {
    font-size: 1.1em;
}
.body-content {
    margin-top: 20px;
    margin-bottom: 20px;
}
.brand-logo i {
    font-size: 40px !important;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column
}
main {
    flex: 1 0 auto
}
.page-footer {
    padding-top: 0;
}
.error-message {
    color: red;
}
.camera-card-title {
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0.9;
    padding: 10px !important;
    font-size: 18px !important;
    border-radius: 0 0 10px 10px;
    text-align: center;
}
.camera-card-image {
    height: 210px;
    border-radius: 10px !important;
}
.camera-card {
    margin: 0.5rem 0 0.5rem 0;
}
.camera-card, .camera-card > .card-image {
    border-radius: 10px;
}
.card-image.clickable:hover {
    background: black;
    opacity: 0.8;
}
.page-title {
    margin-bottom: 40px;
    font-size: 1.7em;
}
.confirmation-title {
    margin-bottom: 30px;
    font-size: 1.5em;
}
.last-updated-time {
    /*margin-bottom: 15px;*/
}
.people-count {
    font-size: 1.2em;
    /*font-weight: bold;*/
}

.main-statistics {
    /*margin-top: 50px;*/
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.last-updated-time {
    margin-bottom: 5px;
}
.people-count {
    margin-bottom: 10px;
}
.valign-wrapper-subcontainer{
    width: 100%;
}
.average-section-title {
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 15px;
}
.average-stat {
    font-size: 1.1em;
    margin-bottom: 5px;
}
#camera-stats-link {
    margin-top: 10px;
}
.unavailable-message {
    color: gray;
}
.no-right-margin {
    margin-right: 0 !important;
}
.borderless-card{
    margin: 0;
}
.smaller-padding-card-content{
    padding: 12px !important;
}
.graph-title {
    font-size: 16px;
    margin-top: 5px !important;
}
.input-field label.checkbox-label, 
.input-field label.radio-label {
    pointer-events: auto !important;
}
/*.select-row {*/
    /*margin-bottom: 0;*/
/*}*/
.collapsible-collection .collection-item {
    display: block;
}
.collapsible-collection .collection-item:hover {
    background: rgba(143, 246, 0, 0.24);
}

.collapsible-collection-container {
    margin: 0 !important;
}
.collection-item.avatar.short {
    min-height: 0;
    padding-right: 52px;
}

.lightweight-title {
    font-size: 1.1em;
    color: #9e9e9e;
}
.fake-label {
    top: -26px !important;
    font-size: 0.8rem !important;
}
.small-input {
    width: 100px !important;
}
#trigger-details-container {
    line-height: 0 !important;
    margin-bottom: 10px;
}
.no-top-margin {
    margin-top: 0 !important;
}
.no-bottom-margin {
    margin-bottom: 0 !important;
}
#alert-creation-modal {
    top: 5% !important;
    max-height: 90% !important;
    height: 90% !important;
}

#camera-edit-modal {
    top: 5% !important;
    max-height: 90% !important;
    height: 90% !important;
}

#notification-list li > a > i {
    margin-right: 12px;
}

.property-name {
    font-style: italic;
}

#disable-alert-button {
    width: 100%;
}

.small-modal {
    width: 35%;
}

.disabled-forever-row {
    margin-bottom: 35px;
}
.full-width {
    width: 100%;
}

.graph-card {
    margin-bottom: 12px;
    color: black;
}

.unavailable-message-light {
    color: lightblue;
}
