@model BackEndServer.Models.ViewModels.CameraStatistics

<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        // Define the chart to be drawn.
        @{
            if (Model.GraphStatistics != null)
            {
                <text>    
                    var array = @Html.Raw(Json.Serialize(Model.GraphStatistics.Stats));
                    for (i = 1; i < array.length; i++) {
                        array[i][1] = parseInt(array[i][1]);
                    }

                    var data = new google.visualization.arrayToDataTable(array);

                    var options = {
                        legend: { position: 'bottom' },
                        vAxis: {minValue: 0, maxValue: 50}
                    }

                    // Instantiate and draw the chart.
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    chart.draw(data, options);
                </text>
            }
        }
    }
</script>

<div class="card blue-grey darken-1 full-width">
    <div class="card-content white-text">
        <span class="card-title">Past Camera Activity</span>
        @{
            if (Model.GraphStatistics == null || Model.GraphStatistics.Stats == null || Model.GraphStatistics.Stats.Length <= 1)
            {
                <div class="unavailable-message-light">
                    The activity graph is unavailable since no activity was recorded by the camera in the last 30 minutes
                </div>
            }
            else
            {
                <div class="card borderless-card graph-card">
                    <div class="card-content smaller-padding-card-content">
                        <p class="graph-title">Activity in the last 30 minutes</p>
                        <div id="curve_chart"></div>
                    </div>
                </div>
            }
        }
        @if(Model.MostRecentPeopleCount != null && Model.LastUpdatedTime != null) {
            <table>
                <tbody>
                <tr>
                    <td class="property-name">Last Amount Spotted</td>
                    <td>@Model.MostRecentPeopleCount.Value @(Model.MostRecentPeopleCount.Value >= 2 ? "Persons" : "Person")</td>
                </tr>
                <tr>
                    <td class="property-name">Last Update Received On</td>
                    <td>@Model.LastUpdatedTime.Value.ToString("yyyy/MM/dd hh:mm:ss tt")</td>
                </tr>
                </tbody>
            </table>
        }
        <a href="CameraSelected?cameraId=@Model.CameraInformation.CameraId" id="camera-stats-link" class="waves-effect waves-light btn"><i class="material-icons right">show_chart</i>View statistics and trends over past data</a>
    </div>
</div>