<!-- Modal Structure -->
<div id="location-creation-modal" class="modal modal-fixed-footer">
    <form id="location-creation-form" class="col s12" method="post" asp-controller="Location" asp-action="SaveLocation">
        <div class="modal-content">
            <h1 class="page-title left-align" id="create-title">Create a Location</h1>
            <h1 class="page-title left-align" id="edit-title">Edit a Location</h1>
            <div class="row">
                <input type="hidden" id="location_id" name="LocationId">
                <div class="input-field col s12">
                    <input id="location_name" name="LocationName" type="text" class="validate" required>
                    <label for="location_name">Location Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="address_line" name="AddressLine" type="text" class="validate"></input>
                    <label for="address_line">Address Line</label>
                </div>
                <div class="input-field col s12">
                    <input id="city" name="City" type="text" class="validate"></input>
                    <label for="city">City</label>
                </div>
                <div class="input-field col s12">
                    <input id="state" name="State" type="text" class="validate"></input>
                    <label for="state">State/Province</label>
                </div>
                <div class="input-field col s12">
                    <input id="zip" name="Zip" type="text" class="validate"></input>
                    <label for="zip">Zip Code</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

<script>
    function setLocationModalToCreateMode() {
        $("#edit-title").addClass("hide");
        $("#create-title").removeClass("hide");

        var modal = $("#location-creation-modal");
        modal.find("form").trigger("reset");
    }

    function setLocationModalToEditMode(location) {
        $("#create-title").addClass("hide");
        $("#edit-title").removeClass("hide");
        var modal = $("#location-creation-modal");
        modal.find("input[name='LocationId']").val(location.locationId);
        modal.find("input[name='LocationName']").val(location.locationName);
        modal.find("label[for='location_name']").addClass("active");
        modal.find("input[name='AddressLine']").val(location.addressLine);
        modal.find("label[for='address_line']").addClass("active");
        modal.find("input[name='City']").val(location.city);
        modal.find("label[for='city']").addClass("active");
        modal.find("input[name='State']").val(location.state);
        modal.find("label[for='state']").addClass("active");
        modal.find("input[name='Zip']").val(location.zip);
        modal.find("label[for='zip']").addClass("active");
    }
</script>