<!-- Modal Structure -->
<div id="location-creation-modal" class="modal">
    <form class="col s12">
        <div class="modal-content">
            <h1 class="page-title left-align">Create a Location</h1>
            <div class="row">
                <div class="input-field col s12">
                    <input id="location_name" type="text" class="validate" required>
                    <label for="location_name">Location Name</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="address_line" class="validate materialize-textarea"></textarea>
                    <label for="address_line">Location Address</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>