@model BackEndServer.Models.ViewModels.CameraInformationList
<div class="card blue-grey darken-1 full-width" id="shared_room_card">
    <div class="card-content white-text">
        <span class="card-title">Cameras monitoring the same room</span>
        <ul id="cameras_in_room_container">
            @foreach (var camera in Model.CameraList)
            {
                <text>
                    <li><a href="CameraInformation?cameraId=@camera.CameraId">@camera.CameraName</a></li>
                </text>
            }
        </ul>
        <a asp-action="SharedRoomGraphDashboard" asp-controller="Graph" asp-route-roomId="@Model.CameraList.First().RoomId" id="shared_camera_stats_link" class="waves-effect waves-light btn"><i class="material-icons right">show_chart</i>View shared stats</a>
    </div>
</div>