<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - BackEndServer</title>

        <environment include="Development">
<!--            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />-->
            <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="~/css/site.css" />
            <!-- This script needs to be loaded asap, otherwise graphs won't work, which is why it is in the head -->
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        </environment>
        <environment exclude="Development">
<!--            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />-->
            <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            <!-- This script needs to be loaded asap, otherwise graphs won't work, which is why it is in the head -->
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        </environment>
    </head>
    <body>
        <ul id="profileDropDown" class="dropdown-content">
@*            <li><a href="#!">My Account</a></li>*@
            <li><a asp-controller="Home" asp-action="SignOut" >Sign Out</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper teal">
                <a asp-controller="Location" asp-action="LocationSelection" class="brand-logo center">
                    Project Jetson <i class="material-icons right medium no-right-margin">videocam</i>
                </a>
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a asp-controller="Location" asp-action="LocationSelection" class="nav-link">Home</a>
                    </li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#" data-activates="profileDropDown">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>
        <main class="container body-content">
            @RenderBody()
        </main>

        <footer class="page-footer teal darken-1">
          <!--<div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>-->
          <div class="footer-copyright">
            <div class="container">
            © 2018 Project Jetson
            </div>
          </div>
        </footer>
        
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/lib/materialize/js/materialize.js"></script>
            <script>
                $(document).ready(function () {
                    $(".dropdown-button").dropdown();
                    $('select').material_select();
                });
            </script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="~/lib/materialize/js/materialize.min.js"></script>
            <script>
                $(document).ready(function () {
                    $(".dropdown-button").dropdown();
                    $('select').material_select();
                });
            </script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
</html>
