<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/ImageUpload.css" />
        <script src="~/js/ImageUpload.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </environment>
    <link href="~/css/icon.css" rel="stylesheet">
    <!-- This script needs to be loaded asap, otherwise graphs won't work, which is why it is in the head -->
    <script type="text/javascript" src="~/js/loader.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
</head>
<body>

@await Component.InvokeAsync("NavigationBar")

<main id="body-container" class="container body-content">
    @RenderBody()
</main>

<footer class="page-footer teal darken-1">
    <!--<div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>-->
    <div class="footer-copyright">
        <div class="container">
            © 2018 Project Jetson
        </div>
    </div>
</footer>

<environment include="Development">
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
</environment>

<script>

    function loadTimePickers() {
        $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            twelvehour: true // Use AM/PM or 24-hour format
        });
    }
    
    function loadMaterializeEffects() {
        $(".dropdown-button").dropdown();
        $('select').material_select();
        $('.modal').modal();
        $('.collapsible').collapsible();
        loadTimePickers();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 10, // Creates a dropdown of 15 years to control year,
            closeOnSelect: true, // Close upon selecting a date,
            container: 'body' // ex. 'body' will append picker to body
        });
        $(".button-collapse").sideNav();
    }
    $(document).ready(function() {
        loadMaterializeEffects();
    });
    $(":text, :password, input[type='email']").change(function() {
        if ($(this).val()) {
            $(this).val($(this).val().trim());
        }
    });
</script>

@RenderSection("Scripts", false)
</body>
</html>
