@{
    ViewBag.Title = "Project Jetson - ERROR";
}
<h1 class="error-title center-align">An Unexpected Error has occured</h1>
<div class="center-align">
    <img src="~/images/dead_camera.png" />
</div>
<p class="error-description center-align">
    An internal server error has occured. This is a fault on our end and we apologize.
    Please try again and contact us if the problem persist.
</p>