@model BackEndServer.Models.ViewModels.CameraStatistics
@{
    ViewBag.Title = "Project Jetson - Camera Information";
}

<h1 id="headerCamInfo" class="page-title center-align">Here is the most recent information concerning the data captured by:<br><b>@Model.CameraInformation.CameraName</b></h1>

<div class="row cards-container">
    @await Component.InvokeAsync("CameraCard", new { cameraId = Model.CameraInformation.CameraId })
    @await Component.InvokeAsync("GraphCard", new { cameraId = Model.CameraInformation.CameraId })
    @await Component.InvokeAsync("StatFramesCard", new { cameraId = Model.CameraInformation.CameraId })
    @await Component.InvokeAsync("SharedRoomCard", new { roomId = Model.CameraDetails.ExistingRoomId })
</div>