@model BackEndServer.Models.ViewModels.UserSettingsList
@{
    ViewBag.Title = "Project Jetson - Give view access to other users";
}
@{ Html.RenderPartial("~/Views/Camera/ShareCameraModal.cshtml", Model); }
@{ Html.RenderPartial("~/Views/Camera/RevokeAccessModal.cshtml", Model); }

<h1 class="page-title center-align">Users given access to <b>@Model.CameraDetails.CameraName</b></h1>

@if (Model.UserList.Count == 0) {
    <div id="noUsersGivenAccessTitle" class="unavailable-message center-align">
        No user has been given access to your camera. 
        <br/>Clicking the green floating button will allow you to share access to your camera with another user.
    </div>
}

<div class="row">
    <div class="right-align" style="margin-right: 11px;">
        <a id="create_alert_btn" class="btn-floating btn-large green modal-trigger" href="#share_camera_modal">
            <i class="large material-icons">add</i>
        </a>
    </div>
</div>

@if (Model.UserList.Count != 0)
{
    <div id="userCameraAssociation" class="collection">
        @foreach (var user in Model.UserList)
        {
            <div class="collection-item">
                <span class="title">@user.Username</span>
                <span class="secondary-content">
                    <a onclick="showRemoveAccessModal(@user.UserId)"><i class="material-icons">delete</i></a>
                </span>
            </div>
        }
    </div>
}

<script>
    @if (Context.Request.Headers["x-requested-with"]=="XMLHttpRequest")
    {
        <text>
            window.loadMaterializeEffects();
        </text>
    }
    function showRemoveAccessModal(userId) {
        $("input[name='UserId']").val(userId);
        $('#revoke_access_modal').modal("open");
    }
</script>
