@using BackEndServer.Models.ViewModels
@using Castle.Core.Internal
@model FrameInformation
<div class="col s12 m8 center-align valign-wrapper">
    <div class="card blue-grey darken-1 full-width" id="notification_frames_card">
        <div class="card-content white-text">
            <span class="card-title">Frame Triggering Notification Alert</span>
            <div>
                @if (!Model.FrmJpgRelPath.IsNullOrEmpty())
                {
                    <img class="notification-frm-img" src="../@Model.FrmJpgRelPath.Replace("wwwroot/", "")">
                }
                <p>People Identified: @Model.PeopleCount</p>
                <p>Timestamp:<br>@Model.Timestamp</p>
            </div>
        </div>
    </div>
</div>